doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title URL Shortener
        link(rel="icon", href="url.ico")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/app.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap")
    body 
        h1 URL Shortener

        main
            block content
        script(src="js/scripts.js")

    footer 
        p Made with ❤️ by 
            a(href="https://mromero.webpage-ec.com/") Marcvicent3

